# =====================================
# IDE
# =====================================

.idea/
*.iml
.vscode/

# =====================================
# Operating System
# =====================================

.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================

*.log

# =====================================
# Java / Maven
# =====================================

**/target/

# =====================================
# Node.js / Angular
# =====================================

**/node_modules/
**/dist/
**/.angular/
**/coverage/

# =====================================
# Environment
# =====================================

.env
.env.*

# =====================================
# Temporary files
# =====================================

tmp/
temp/